@model MZ.Models.PublicViewModel
@{
    ViewBag.Title = "SearchResult";
}

@if (Model.SearchResults != null && Model.SearchResults.Any())
{
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="search-content">
                    @foreach (var item in Model.SearchResults)
                    {
                        var imgPath = "http://www.admin.mazeda-bd.com/" + item.ImageUrl;

                        <div class="span10">
                            <div class="search-item">
                                <a href="@item.Link">
                                    <div class="span3 m0">
                                        <img src="@imgPath" alt="@item.Title"/>
                                    </div>

                                    <div class="span7 p20">
                                        <h1>@item.Title</h1>
                                        <p>@item.ShortDetails</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}
else
{
    Session["SearchNotMatch"] = "No match found. Try something else.";
    @Html.Partial("~/Views/Partial/_nothingFound.cshtml", Session["SearchNotMatch"])
}
