@{
    MZ.Models.CompanySetting companySetting = (MZ.Models.CompanySetting)Session["CompanySetting"];

    if (companySetting == null)
    {
        companySetting = MZ.BusinessLayer.CompanySettingsManager.GetCompanySettings(1);
        Session["CompanySetting"] = companySetting;
    }

    //var imagepath = "http://adminmzbd.thebyteheart.com/" + @companySetting.LogoUrl;
    var imagepath = companySetting.LogoUrl;
}
@model MZ.Models.PublicViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @companySetting.CompanyName | vehicle lubricants & Fruits Supplier</title>
    <meta name="description" content="tradeworld advertising, creative digital sign manufacturer & supplier" />
    <meta name="title" content="trade world advertising">
    <link rel="icon" href="@Url.Content("~/twaicon.ico")" />
    <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans:300,400,600,700,800" rel="stylesheet">
    @Styles.Render("~/Content/ThirdPartyCss/bootstrapcss")
    @Styles.Render("~/Content/ThirdPartyCss/bootstrap-responsive")
    @Styles.Render("~/Content/ThirdPartyCss/flexslider")
    @Styles.Render("~/Content/ThirdPartyCss/prettyPhoto")
    @Styles.Render("~/Content/ThirdPartyCss/camera")
    @Styles.Render("~/Content/ThirdPartyCss/bxslider")
    @Styles.Render("~/Content/ThirdPartyCss/slick")
    @Styles.Render("~/Content/ThirdPartyCss/slick-theme")
    @*@Styles.Render("~/Content/ThirdPartyCss/css")*@
    @Styles.Render("~/Content/ThirdPartyCss/animate")
    @Styles.Render("~/Content/ThirdPartyCss/font-awesome")
    @Styles.Render("~/Content/ThirdPartyCss/cslider")
    @Styles.Render("~/Content/ThirdPartyCss/overwrite")
    @Styles.Render("~/Content/ThirdPartyCss/shortcodes")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    @Scripts.Render("~/bundles/ThirdPartyJs/modernizr")
    <link href="~/Content/ThirdPartyCss/owl.carousel.min.css" rel="stylesheet" />
    @*<link href="~/Content/ThirdPartyCss/easyzoom.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/CustomCss/style")
    @Styles.Render("~/Content/ThirdPartyCss/defaultColor")
</head>
<body>

    <div id="wrapper">
        <!-- start header -->
        <header>
            <div class="top">
                <div class="container">
                    <div class="row inline-top">
                        <div class="span6">
                            <div class="src-area">
                                <p class="topcontact">
                                    @if (!string.IsNullOrEmpty(companySetting.MainContactNo))
                                    {
                                        <i class="icon-phone"></i><a href="tel:@Html.Raw(companySetting.MainContactNo)"> @Html.Raw(companySetting.MainContactNo)</a>
                                    }
                                    @if (!string.IsNullOrEmpty(companySetting.ContactNo))
                                    {
                                        <i class="icon-phone"></i><a href="tel:@Html.Raw(companySetting.ContactNo)"> @Html.Raw(companySetting.ContactNo)</a>
                                    }

                                </p>
                                <div class="search-container">
                                    @using (Html.BeginForm("SearchResult", "Home", FormMethod.Post))
                                    {
                                        @Html.TextBoxFor(x => x.Search.SearchTxt, new { @class = "custom-search", id = "searchleft", placeholder = "Search", type = "" })
                                        <label class="srcbutton searchbutton" for="searchleft"><span class="mglass">&#9906;</span></label>
                                    }
                                    @*<form action="/Home/SerchResult" method="get">
                                            <input class="custom-search" id="searchleft" placeholder="Search">
                                            <label class="srcbutton searchbutton" for="searchleft"><span class="mglass">&#9906;</span></label>
                                        </form>*@
                                </div>
                            </div>
                        </div>
                        <div class="span6">

                            <ul class="social-network">
                                <li>
                                    <a href="@companySetting.FacebookPageUrl" data-placement="bottom" title="Facebook" target="_blank"><i class="icon-facebook icon-white"></i></a>
                                </li>
                                <li><a href="@companySetting.TwitterPageUrl" data-placement="bottom" title="Twitter" target="_blank"><i class="icon-twitter icon-white"></i></a></li>
                                <li>
                                    <a href="@companySetting.YoutubePageUrl" data-placement="bottom" title="Youtube" target="_blank"><i class="icon-youtube-play icon-white"></i></a>
                                </li>
                                <li>
                                    <a href="@companySetting.GooglePlusPageUrl" data-placement="bottom" title="Google +" target="_blank"><i class="icon-google-plus icon-white"></i></a>
                                </li>
                                <li>

                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div id="bottom-nav" class="header-area">
                <!-- site-navbar start -->
                <div class="navbar-area">
                    <div class="container">
                        <nav class="site-navbar">
                            <!-- site logo -->
                            <div class="logo">
                                <a href="/Home/">
                                    <img src="@imagepath" alt="MazedaBD" />
                                </a>
                            </div>
                            <!-- site menu/nav -->
                            <ul class="bottom-menu">
                                <li><a href="/Home/Index">Home </a></li>
                                <li><a href="/Home/About">About</a></li>
                                <li><a href="/Home/Products">Products</a></li>
                                <li><a href="/Home/News">News & Events</a></li>
                                <li><a href="/Home/Gallery">Gallery</a></li>
                                <li><a href="/Home/Contact">Contact</a></li>
                            </ul>

                            <!-- nav-toggler for mobile version only -->
                            <button class="nav-toggler">
                                <span></span>
                            </button>
                        </nav>
                    </div>
                </div><!-- navbar-area end -->
            </div>
        </header>
        <!-- end header -->

        @RenderBody()


        <footer>
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="widget">
                            <h5 class="widgetheading">Browse pages</h5>
                            <ul class="link-list">
                                <li><a href="/Home/Index">Home </a></li>
                                <li><a href="/Home/About">About</a></li>
                                <li><a href="/Home/Products">Products</a></li>
                                <li><a href="/Home/News">News & Events</a></li>
                                <li><a href="/Home/Gallery">Gallery</a></li>
                                <li><a href="/Home/Contact">Contact</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="span4">
                        <div class="widget">
                            <h5 class="widgetheading">Get in touch</h5>
                            <address>
                                <strong>@Html.Raw(companySetting.CompanyName)</strong><br>
                                @Html.Raw(companySetting.CompanyAddress)
                            </address>
                            <p>
                                @if (!string.IsNullOrEmpty(companySetting.MainContactNo))
                                {
                                    <i class="icon-phone"></i><a href="tel:@Html.Raw(companySetting.MainContactNo)"> @Html.Raw(companySetting.MainContactNo)</a><br>
                                }
                                @if (!string.IsNullOrEmpty(companySetting.ContactNo))
                                {
                                    <i class="icon-phone"></i><a href="tel:@Html.Raw(companySetting.ContactNo)"> @Html.Raw(companySetting.ContactNo)</a><br>
                                }
                                @if (!string.IsNullOrEmpty(companySetting.Email_1))
                                {
                                    <i class="icon-envelope-alt"></i> @Html.Raw(companySetting.Email_1)<br>
                                }
                                @if (!string.IsNullOrEmpty(companySetting.Email_2))
                                {
                                    <i class="icon-envelope-alt"></i> @Html.Raw(companySetting.Email_2)
                                }

                            </p>
                        </div>
                    </div>
                    <div class="span4">
                        <ul class="social-network-footer">
                            <li>
                                <a href="@companySetting.FacebookPageUrl" data-placement="bottom" title="Facebook" target="_blank"><i class="icon-facebook icon-white"></i></a>
                            </li>
                            <li><a href="@companySetting.TwitterPageUrl" data-placement="bottom" title="Twitter" target="_blank"><i class="icon-twitter icon-white"></i></a></li>
                            <li>
                                <a href="@companySetting.YoutubePageUrl" data-placement="bottom" title="Youtube" target="_blank"><i class="icon-youtube-play icon-white"></i></a>
                            </li>
                            <li>
                                <a href="@companySetting.GooglePlusPageUrl" data-placement="bottom" title="Google +" target="_blank"><i class="icon-google-plus icon-white"></i></a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <div class="copyright">
                                <p><span>&copy; @Html.Raw(companySetting.CompanyName). All right reserved</span></p>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="credits">
                                Designed and Developed by <a href="http://byteheart.com/" target="_blank">ByteHeart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>
    </div>

    @Scripts.Render("~/bundles/ThirdPartyJs/jquery-single")
    @*@Scripts.Render("~/bundles/ThirdPartyJs/jquery")*@
    @Scripts.Render("~/bundles/ThirdPartyJs/easing")
    @Scripts.Render("~/bundles/ThirdPartyJs/bootstrap")
    @Scripts.Render("~/bundles/ThirdPartyJs/modernizrcustom")
    @Scripts.Render("~/bundles/ThirdPartyJs/toucheffects")
    @Scripts.Render("~/bundles/ThirdPartyJs/google-code-prettify")
    @Scripts.Render("~/bundles/ThirdPartyJs/bxslider")
    @Scripts.Render("~/bundles/ThirdPartyJs/camera")
    @Scripts.Render("~/bundles/ThirdPartyJs/camera-setting")
    @Scripts.Render("~/bundles/ThirdPartyJs/prettyPhoto")
    @Scripts.Render("~/bundles/ThirdPartyJs/portfolio")
    @Scripts.Render("~/bundles/ThirdPartyJs/portfolio-setting")
    @Scripts.Render("~/bundles/ThirdPartyJs/flexslider")
    @Scripts.Render("~/bundles/ThirdPartyJs/animate")
    @Scripts.Render("~/bundles/ThirdPartyJs/inview")
    @Scripts.Render("~/bundles/ThirdPartyJs/clientslider")
    @Scripts.Render("~/bundles/ThirdPartyJs/slick")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script src="~/Scripts/ThirdPartyJs/owl.carousel.min.js"></script>
    @Scripts.Render("~/bundles/ThirdPartyJs/jqueryval")
    @Scripts.Render("~/bundles/ThirdPartyJs/jqueryvalUnobtrusive")
    @Scripts.Render("~/bundles/ThirdPartyJs/cslider")

    @Scripts.Render("~/bundles/CustomJs/customJs")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('.slider-inner').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1000,
                dots: true,
                arrows: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }
                ]
            });

        });

        $(function () {
            debugger;
            // this will get the full URL at the address bar
            var url = window.location.href;
            // passes on every "a" tag
            $(".bottom-menu a").each(function () {
                //var linkVal = $(this).attr('href');
                //var absPath = window.location;
                //var link = absPath + linkVal;
                // checks if its the same on the address bar
                if (url == (this.href)) {
                    $(this).closest("li").addClass("active");
                }
                //else if (document.referrer == link) {
                //    $(this).closest("li").addClass("active");
                //}
            });
        });


    </script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
    <script>
        window.onscroll = function () { myFunction() };

        var navbar = document.getElementById("bottom-nav");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky");
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>

    <script>
        $(window).on("load", function () {
            $(".loader-wrapper").fadeOut("slow");
        });
    </script>


</body>
</html>
